boto==2.48.0
certifi==2017.11.5
chardet==3.0.4
idna==2.6
pbr==3.1.1
Pillow==5.3.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
requests-cache==0.4.13
six==1.11.0
stevedore==1.28.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
Wand==0.4.4
